{{ define "main" }}

<main class="site-content">
  <div class="intro-text">
    <h1>Fascination of Plants | Utrecht University</h1>
    <p>{{ i18n "intro_text_1" }}</p>
    <p>{{ i18n "intro_text_2" }}</p>
    <p><b>{{ i18n "intro_text_3" }}</b></p>
  </div>
    
  </div><div class="exhibition-grid">
  <a class="exhibition-card" href="{{ "exhibitions/2024/" | relLangURL }}">

    <img src="{{ "img/exhibition-2024.svg" | relURL }}" alt="Plants & kids">

    <div class="exhibition-overlay">
      <div class="exhibition-title">
        {{ i18n "exh2024_title" }}
      </div>

      <span class="exhibition-button">
        {{ i18n "exhibition_button" }}
      </span>
    </div>

  </a>

  <a class="exhibition-card" href="{{ "exhibitions/2026/" | relLangURL }}">

    <img src="{{ "img/exhibition-2026.svg" | relURL }}" alt="Plants and the future">

    <div class="exhibition-overlay">
      <div class="exhibition-title">
        {{ i18n "exh2026_title" }}
      </div>

      <span class="exhibition-button">
        {{ i18n "exhibition_button" }}
      </span>
    </div>

  </a>

</div>

</main>

{{ end }}