{{ define "main" }}

<main class="site-content">
<div class="intro-text">
  <p>{{ i18n "intro_text" }}</p>
</div>

  <div class="exhibition-grid">
    <a class="exhibition-card" href="{{ "exhibitions/2026/" | relLangURL }}">
      <img src="{{ "img/exhibition-2026.svg" | relURL }}">
      <div class="card-title">2026</div>
    </a>

    <a class="exhibition-card" href="{{ "exhibitions/2024/" | relLangURL }}">
      <img src="{{ "img/exhibition-2024.svg" | relURL }}">
      <div class="card-title">2024</div>
    </a>

    <a class="save-the-date" href="{{ "closing-event/" | relLangURL }}">
      <img src="{{ "img/save-the-date.svg" | relURL }}">
    </a>
  </div>

</main>

{{ end }}