<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
</head>

<body>
  <header class="site-header">
  {{ partial "header.html" . }}
  </header>
  <main class="site-content">
    {{ .Content }}
    <div>
      <p> 
        Fascination of Plants Day is celebrated worldwide biannually on the 18th of May. We take this day to share our research and our excitement for plants.
        At<b> Utrecht University</b> we began celebrating this day on 2024, and we continue to do so on 2026.
      </p>
      <p>
        See both of these exhibitions below.
      </p>
      <p>
        <b>Enjoy!</b>
      </p>
    </div>
     <div class="exhibition-grid">
      <a class="exhibition-card" href="{{ "exhibitions/2026/" | relLangURL }}">
        <div class="card-overlay"></div>
        <img src="{{ "img/exhibition-2026.svg" | relURL }}" alt="Exhibition 2026">
        <div class="card-title">{{ i18n "exhibition2026" }}</div>
      </a>
      <a class="exhibition-card" href="{{ "exhibitions/2024/" | relLangURL }}">
        <div class="card-overlay"></div>
        <img src="{{ "img/exhibition-2024.svg" | relURL }}" alt="Exhibition 2024">
        <div class="card-title">{{ i18n "exhibition2024" }}</div>
      </a>
      <a class="save-the-date" href="{{ "/closing-event/" | relLangURL }}">
        <img src="{{ "img/save-the-date.svg" | relURL }}" alt="Save the date closing event">
      </a>
    </div>
  </main>

  {{ partial "footer.html" . }}
</body>
</html>