{{ define "main" }}
<main class="site-content">
  
  <h1>{{ i18n "ce_title" }}</h1>
  <p>{{ i18n "ce_intro1" }} 
    {{ i18n "ce_intro2" }} 
    <b><a href="https://maps.app.goo.gl/ex86ChyR8xUU59CY9" target="_blank" class="bold">{{ i18n "ce_intro3" }}</a></b>
  </p>
  <p>{{ i18n "ce_intro4" }}</p>
  <p>{{ i18n "ce_intro5" }}</p>

  <div class="ce-program-grid">
    <div class="ce-row">
      <img src="{{ "img/ce_item1.svg" | relURL }}" alt="Program item 1">
      <p>{{ i18n "ce_item_1" }}</p>
    </div>

    <div class="ce-row">
      <img src="{{ "img/ce_item2.svg" | relURL }}" alt="Program item 2">
      <p>
        {{ i18n "ce_item_2" }}
        <a href="https://www.uu.nl/medewerkers/CLammers" class="bold">{{ i18n "ce_item_3" }}</a>
        {{ i18n "ce_item_4" }}
      </p>
    </div>

    <div class="ce-row">
      <img src="{{ "img/ce_item3.svg" | relURL }}" alt="Program item 3">
      <p>{{ i18n "ce_item_5" }}</p>
    </div>

  </div>

  <p>
    <a class="button"
       href="{{ if eq .Language.Lang "nl" }}{{ "posters/closing-event/flyer-nl.pdf" | relURL }}{{ else }}{{ "posters/closing-event/flyer-en.pdf" | relURL }}{{ end }}"
       target="_blank">
      {{ i18n "ce_download_flyer" }}
    </a>
  </p>

  <hr>

  <p>{{ i18n "ce_participation_text" }}</p>

  <p>
    <a class="button" href="{{ "form/" | relLangURL }}">
      {{ i18n "ce_participate" }}
    </a>
  </p>

  <hr>

<section class="ce-address">
  <h2>{{ i18n "ce_address_title" }}</h2>

  <p class="ce-address-text">
    {{ i18n "ce_address1" }}<br>
    {{ i18n "ce_address2" }}<br>
    <a href="https://maps.app.goo.gl/qickGy4co7CSVR9d6" target="_blank">
      {{ i18n "ce_address3" }}
    </a>
  </p>

  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d751.9555412663359!2d5.1683953258556246!3d52.08713934829072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c668998b050f63%3A0xa8489b601b1ec9cb!2sDe%20Vagant!5e0!3m2!1sen!2snl!4v1777906308185!5m2!1sen!2snl"
    width="100%"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade">
  </iframe>
</section>

</main>
{{ end }}