{{ define "main" }}
<main class="site-content">
<section class="closing-event">

  <p>{{ i18n "ce_exhibition_period" }}</p>

  <p>{{ i18n "ce_intro" }}</p>

  <ul class="ce_item">
    <li class="ce_item">{{ i18n "ce_item_1" }}</li>
    <li class="ce_item">{{ i18n "ce_item_2" }}</li>
    <li class="ce_item">{{ i18n "ce_item_3" }}</li>
    <li class="ce_item">{{ i18n "ce_item_4" }}</li>
  </ul>

  <p>
    <a href="{{ if eq .Language.Lang "nl" }}{{ "posters/closing-event/flyer-nl.pdf" | relURL }}{{ else }}{{ "posters/closing-event/flyer-en.pdf" | relURL }}{{ end }}" target="_blank">
      {{ i18n "ce_download_flyer" }}
    </a>
  </p>

  <hr>

  <p>{{ i18n "ce_participation_text" }}</p>
  <p>
    <a href="{{ "form/" | relLangURL }}">
      {{ i18n "ce_participate" }}
    </a>
  </p>
</section>
</main>

{{ end }}