<header class="site-header">

  <div class="header-top">
    <div class="language-switcher">
    {{ $translations := .AllTranslations }}
    {{ range sort $translations "Lang" }}
      <a href="{{ .RelPermalink }}"
      class="lang-btn {{ if eq $.Lang .Lang }}active{{ end }}">
      {{ .Lang | upper }}
      </a>
    {{ end }}
  </div>
    
    <h1 class="site-title">
      <!--<a href="{{ .Site.Home.RelPermalink }}">Fascination of Plants</a>-->
      <a href="{{ .Site.Home.RelPermalink }}">
        <img src="{{ "img/title.svg" | relURL }}" alt="Fascination of Plants">
      </a>
    </h1>

    <button class="menu-toggle">☰</button>

  </div>

  <nav id="sidebar" class="sidebar">
    <button class="sidebar-close" aria-label="Close menu">✕</button>
    <ul>
      {{ range .Site.Menus.main }}
        <li>
          {{ if .Page }}
            <a href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
          {{ else if .URL }}
            <a href="{{ .URL | relURL }}">{{ .Name }}</a>
          {{ else }}
            <span>{{ .Name }}</span>
          {{ end }}

          {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
                <li>
                {{ if .Page }}
                  <a href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
                {{ else if .URL }}
                  <a href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                {{ else }}
                  <span>{{ .Name }}</span>
                {{ end }}
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  </nav>

</header>