<header class="site-header">

  <button class="menu-toggle">☰</button>

<nav id="sidebar" class="sidebar">
  <ul>
    {{ range .Site.Menus.main }}
      <li>

        {{ if .Page }}
          <a href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
        {{ else }}
          <span>{{ .Name }}</span>
        {{ end }}

        {{ if .HasChildren }}
          <ul>
            {{ range .Children }}
              <li>
                <a href="{{ .Page.RelPermalink }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}

      </li>
    {{ end }}
  </ul>
</nav>

<div class="language-switcher">
{{ range .Site.Languages }}
  <a href="{{ .Lang | relURL }}" class="lang-btn {{ if eq $.Lang .Lang }}active{{ end }}">
    {{ .Lang | upper }}
  </a>
{{ end }}
</div>

  <h1 class="site-title">
    <a href="{{ .Site.Home.RelPermalink }}">
      <img src="{{ "img/title.svg" | relURL }}">
    </a>
  </h1>

</header>